<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Drug_android_frontend"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TakePhotoActivity"
            android:exported="false"
            android:label="藥袋拍攝"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".QuadEditActivity"
            android:exported="false"
            android:label="請截取藥袋區域"
            android:parentActivityName=".TakePhotoActivity" />
        <activity
            android:name=".ResultActivity"
            android:exported="false"
            android:label="藥袋圖片二質化"
            android:parentActivityName=".QuadEditActivity" />
    </application>

</manifest>