<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Drug_android_frontend"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity android:name=".OnDemandActivity"
            android:exported="false" />
        <activity android:name=".OnDemandListActivity"
            android:exported="false"
            android:label="新增單筆服用紀錄"/>
        <activity
            android:name=".TakeRecordActivity"
            android:exported="false"/>
        <activity
            android:name=".TodayReminderActivity"
            android:exported="false" />
        <activity
            android:name=".DrugRecordActivity"
            android:exported="false"
            android:label="編輯藥物資訊" />
        <activity
            android:name=".DrugInteractionActivity"
            android:exported="false"
            android:label="藥物交互作用確認" />
        <activity
            android:name=".DrugbagInfoActivity"
            android:exported="false"
            android:label="輸入/修改藥袋資訊" />
        <activity
            android:name=".PhotoTakeActivity"
            android:exported="false"
            android:label="藥袋拍攝" />
        <activity
            android:name=".PhotoResultActivity"
            android:exported="false"
            android:label="照片確認" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>