<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Drug_android_frontend"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".IntroductoryActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name" />
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:label="起始頁面">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomePageActivity"
            android:exported="false"
            android:label="@string/wel_page" />
        <activity
            android:name=".OnDemandActivity"
            android:exported="false" />
        <activity
            android:name=".OnDemandListActivity"
            android:exported="false"
            android:label="@string/add_one_new_record_page" />
        <activity
            android:name=".TakeRecordActivity"
            android:exported="false" />
        <activity
            android:name=".TodayReminderActivity"
            android:exported="false" />
        <activity
            android:name=".DrugRecordActivity"
            android:exported="false"
            android:label="@string/edit_drug_info_page" />
        <activity
            android:name=".DrugInteractionActivity"
            android:exported="false"
            android:label="@string/confirm_interaction_page" />
        <activity
            android:name=".DrugbagInfoActivity"
            android:exported="false"
            android:label="@string/edit_drugbag_info_page" />
        <activity
            android:name=".PhotoTakeActivity"
            android:exported="false"
            android:label="@string/take_photo_page" />
        <activity
            android:name=".PhotoResultActivity"
            android:exported="false"
            android:label="@string/photo_confirmation_page" />
    </application>

</manifest>